@charset "utf-8";
/* CSS Document */
#genel
{
	min-width:500px;
	margin:auto;
	width:50%;
}
.satir
{		
	min-height:30px;
	min-width:500px; 
	margin-top:25px;
	text-align:center;	
}

.sag {    
    width:80%;
	float:left;
	text-align:left;	 
}
.sol {
	width:20%;	
	float:left;
	text-align:left;
}
.iletisimsol{
	width:48%;	
	float:left;
	text-align:left;
	margin-left:1%;
	
}
