#profil_content{
	width:100%;
	height:100%;
}
#foto{
	width:150px;
	height:150px;
	margin-left:40%;
	margin-top:40px;
}
#adi{
	width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
#soyadi{
	width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
	
}
#il{
	width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
	
}
#ilce{
	width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
#tamadres{
width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
#duzenle{
	height:30px;
		margin-left:20%;
}


.inputText{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.buttonSosyalHesapKaydet {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.buttonSosyalHesapKaydet:hover {
    background-color: #45a049;
}
#genel
{
    min-width:500px;
    margin:auto;
    width:50%;
}
.satir
{       
    min-height:30px;
    min-width:500px; 
    margin-top:25px;
    text-align:center;  
}

.sag {    
    width:80%;
    float:left;
    text-align:left;     
}
.sol {
    width:20%;  
    float:left;
    text-align:left;
}
.iletisimsol{
    width:48%;  
    float:left;
    text-align:left;
    margin-left:1%;
    
}
