#proje_hakkinda{
	width:100%;
}
#proje_hakkinda_baslik{
	width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
#proje_hakkinda_onsoz{
width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
#proje_hakkinda_icerik{
	font-size:14px;
}
#proje_hakkinda_textarea{
	font-size:12px;
	width:100%;
	height:250px;
}
#proje_hakkinda_duzenle{
	  width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
#proje_hakkinda_duzenle:hover {
    background-color: #45a049;
}

#isyeri_hakkinda{
	width:100%;
}
#isyeri_hakkinda_baslik{
	width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
#isyeri_hakkinda_onsoz{
width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
#isyeri_hakkinda_icerik{
	font-size:14px;
}
#isyeri_hakkinda_textarea{
	font-size:12px;
	width:200px;
	height:250px;
}
#isyeri_hakkinda_duzenle{
	  width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
#isyeri_hakkinda_duzenle:hover {
    background-color: #45a049;
}
.inputText{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.buttonSosyalHesapKaydet {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.buttonSosyalHesapKaydet:hover {
    background-color: #45a049;
}
