#headerAnaDiv{
	height:auto;
	width:80%;
	margin-left:auto;
	margin-right:auto;
	min-width:1000px;
	background-color:#2B5063;
}
#headerLeft ,#headerRight{
	float:left;
	width:49%;
	margin-top:10px;
	margin-bottom:5px;
	
}
#headerButon{
	height:35px;
	border-radius: 3px;
	min-width:100px;
	background-color:#15f;
	line-height:35px;
}
#headerRight a,#bildirim
{
	margin-top:10px;
	float:right;
	text-decoration:none;
	margin-right:30px;
}
#headerLogo{
	float:left;
	margin-left:75px;
	height:64px;
	border-radius:50px;
	width:64px;
	background-color:#186;
}
#headerLogo img{
	width: 64px;
	height: 64px;
	border-radius: 50%;
}
#headerSlogan{
	background-color:#ff9;
	float:left;
	margin-left:10px;
	line-height:30px;
	height:35px;
	margin-top:30px;
	
}
 a #headerButon span{
	color:#f2f2f2;
	margin-left:35%;
}
.clear{
	clear:both;
}
#bildirim{
	height: 32px;
	width: 32px;
	border-radius: 50%;
	background-color: rgb(203, 209, 224);
}
#bildirimSayisi
{
	position: relative;
	color: #E62525;
	font-size: 16px;
	margin-top: 3px;
	top: -30px;
    right: -12px;
    cursor: pointer;
}
#headerRight #bildirim-icerik
{	
	display: none;
	z-index: 999;
    width: 300px;
    position: absolute;
    height: 260px;
    margin-left: -150px;
    border: 2px solid #948F89;
    background-color: rgba(158, 158, 158, 0.56);
    border-radius: 4px;
    overflow-y: auto;
  }
  .bildirim{
  	width: 98%;
  	margin-left: auto;
  	margin-right: auto;
  	margin-top: 2px;
  	height: 50px;
  	background-color: #489;
  }
  #bildirim-icerik img#isaret{
  	width: 28px;
    height: 28px;
    margin-left: 150px;
    position: absolute;
    margin-top: -25px;
  }
  #bildirim-icerik .bildirim a{
  	float: none;
  	margin: 0px;
  	padding: 0px;
  	width: 100%;height: 50px;
  	color: #f2f2f2;
  }
  .bildirim a img{
  	width: 50px;
  	height: 50px;
  	float: left;
  	margin-right: 5px;
  }
#bildirim-icerik .bildirim a label,.bildirim a span{
	width: 100%;
	overflow: hidden;
}