@charset "utf-8";
#mesaj,#mesajleft,#mesajright{
	height:500px;
}
#mesaj
{
	width:90%;
	background:#6FAA6F;
	margin-left:auto;
	margin-right:auto
}
#mesajright
{
	width:20%;
	background:#EFEFEF;
	margin-left:0px;
	float:left;
	}
	
#mesajleft
{
	width:22%;
	float:left;
	}
#mesajright ul{
	margin:0px;
	padding:5px;
	list-style-type:none;
	height:100%;
	
}
#mesajright ul li {
	cursor:pointer;
	height :45px;
	width :100%;
	line-height :45px;
	margin-top:5px;
}
#mesajright ul li:hover{
	background-color:#789;
	
}
#mesajright ul li img{
	
	margin-right:10px;
	float:left;

	height:40px;
	width:40px;
	line-height:60px;
	
	
}
#gizle{
	display:none;
	
}
#mesajright ul li .mesajimg {
	width:35px;
	height:35px;
	padding:5px;
	
}
#mesajright ul li .mesajimg img {
	width:35px;
	height:35px;
	padding:5px;
	
}

#mesajright ul li span{
	
	height:25px;
	font-size:16px;
	float:left;
	line-height:45px;
}
.mesaj-icerik
{
	border:1px solid #789;
	background-color:#189;
	margin:0px;
	width:100%;
	height:15.4%;
	margin-bottom:5px;
	margin-left:left;
	margin-right:auto;
}
.mesaj-icerik:hover{
	background-color:#1B689C;
}
.mesaj-konu span{ 

margin:30px;
width:30px;
height:50px;


}
.mesaj-icerik input{
	margin:20px;
	width:6%;
	line-height:60px;
	float:left;
}

.mesaj-icerik img{
	margin:10px;
	height:40px;
	width:15%;
	line-height:60px;
	float:left;
}

.mesaj-konu{
	height:60px;
	width:80%;
	float:center;
	line-height:60px;
}
.mesaj-tarih{
	height:60px;
	line-height:60px;
	width:90px;
	float:right;
	
}

.mesaj-icerik .isaret:hover   input{
	display:inline;
	
}

.mesaj-tarih span{
	height:60px;
	line-height:60px;
	width:90px;
	
	margin:30px;
}

#mesajlarim
{
	width:58%;
	height:100%;
		float:left;
	background-color:#6FAA6F;
}
#yenimesajlarim
{
	margin:5%;
	width:90%;
	height:10%;
		float:left;
	background-color:#6FAA6F;
}

#yeniMesajYolla
{
margin:5%;
	width:90%;
	height:10%;
		float:left;
	background-color:#6FAA6F;
}

textarea{
	
	width:80%;
	
	
}



