#govde{
	width: 78%;
	margin-left: 10px;
	background-color: #E2DFE1;
	border-radius: 5px;
	min-height: 600px;
}

.inputText{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.buttonSosyalHesapKaydet {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.buttonSosyalHesapKaydet:hover {
    background-color: #45a049;
}
